.skeleton {
  position: relative;
  display: flex;
  gap: 10px;
  height: 40px;
  margin-bottom: 10px;
  align-items: center;
}

.skeleton::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton-avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.skeleton-author {
  width: 120px;
  height: 10px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton-description {
  width: 100%;
  height: 20px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}
